@if (songStore.loadingSong()) {
    <div class="loading-container">
        <mat-progress-spinner
            diameter="40"
            mode="indeterminate"
            class="loading-container__spinner">
        </mat-progress-spinner>
        <p>Loading song...</p>
    </div>
} @else {
    <form [formGroup]="editSong">
        <div class="input-form__fields">
            <mat-form-field appearance="fill" class="edit-song__inputs">
                <mat-label>{{'title' | translate}}</mat-label>

                <input matInput
                       [placeholder]="'title' | translate"
                       formControlName="title"
                />
                @if (editSong.controls['title'].invalid) {
                    <mat-error>{{'title_not_mandatory' | translate}}</mat-error>
                }
            </mat-form-field>
        </div>

        <artist-list formControlName="artist" />

        <chip-selectors nameProp="id"
            formControlName="genre"
            [data]="songStore.genres()"
            [selects]="currentSong().genre"
            [placeholder]="'selected_genre' | translate"
            [label]="'genres' | translate"
            [multiple]="true"
        />

        <company-select formControlName="companies" />

        <ng-country-select id="country-selector"
            [formControl]="countryControl"
            [lang]="'es'"
            [placeholder]="'selected_country' | translate"
        />


        <div class="input-form__fields">
            <mat-form-field class="edit-song__inputs">
                <mat-label>{{ 'year' | translate }}</mat-label>
                <input matInput
                   formControlName="year"
                   [placeholder]=" 'year' | translate"
                   [matDatepicker]="dp"
                >
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp startView="multi-year"
                                (yearSelected)="setYear($event, dp)"
                ></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="input-form__fields">
            <mat-form-field appearance="fill" class="edit-song__inputs">
                <mat-label>{{ 'rating' | translate }}</mat-label>
                <input matInput
                       formControlName="rating"
                       [placeholder]="'rating' | translate"
                >
            </mat-form-field>
        </div>
    </form>
    <button class="action-button" mat-fab (click)="save()" [disabled]="editSong.invalid">
        <mat-icon>save</mat-icon>
    </button>

}
