/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.action-button {
  position: fixed !important;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
}

/* Ajustes para móviles */
@media (max-width: 600px) {
  .action-button {
    position: fixed !important;
    bottom: 1rem;
    right: 1rem;
  }
}


.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.loading-container__spinner {
    margin-bottom: 1rem;
}
