<div class="selector-chipset__form">
    <mat-form-field class="selector-chipset__field">
        <mat-label>{{ label() }}</mat-label>
        <mat-chip-grid #chipGrid aria-label="Selection item">
            @for (item of selectedItems(); track $index) {
                <mat-chip-row (removed)="remove(item.id)">
                    {{item[nameProp()]}}
                    <button matChipRemove [attr.aria-label]="'remove ' + item">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            }
        </mat-chip-grid>
        <input
            [placeholder]="placeholder()"
            #itemInput
            [(ngModel)]="searchText"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
            [disabled]="loading()"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); itemInput.value = ''">
            @for (item of filteredItems(); track item) {
                <mat-option [value]="item['id']">{{item[nameProp()] }}</mat-option>
            }
        </mat-autocomplete>
        @if (loading()) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
    </mat-form-field>
</div>
